
/**
* Workbench Table
*/

.wbTableWrapper{

    padding:0;
    margin:0;
    position:absolute;
    overflow: auto;
    left:2px;
    top:3px;
    right:3px;
    bottom:3px;
}

table.wbTable {
    text-align: left;
    position: relative;
    border-collapse: collapse;

}

.wbTable th {
    position: sticky;
    top: 0;
    padding:0;
    margin:0;
}

.wbTable thead th div{
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 0;
    line-height: 2;
    border-left: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;
    background-color:#DDD;
    color:#000;
    text-overflow: clip;
    overflow: hidden;
}